.navbar {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
}

.navbar ul.breadcrumb {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  & > li {
    height: 33px;
  }
  & > li + li:before {
    padding-left: 10px;
  }
  .home i.logo {
    height: 33px;
    width: 33px;
  }
  .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  button.dropdown-toggle[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
  }

  @media screen and (max-width:767px){

    display: block;
    .dropdown {
      &.btn-group {
        width: 100%;
        .btn {
          width: 100%;
        }
      }
      &.open .dropdown-menu {
        float: left;
        width: 100%;
        background: #fff;
      }
    }

   & > li {
     display: block;
     width: 100%;
     text-align: center;
     margin: 5px 0;
     height: auto;
     & + li:before {
       content: none;
     }
   }

  }
}

.dropdown-user .user-icon {
  width: 2em;
  height: 2em;
  float: left;
  margin-right: 1ex;
  margin-top: -1px;
}

@media screen and (max-width: $screen-sm) {
  .nav > li {
    .glyphicon-wrench {
      font-size: 20px;
      width: 32px;
      margin-left: 5px;
    }
    .user-icon {
      margin-right: 10px;
      margin-top: -4px;
    }
  }
}